
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Kool Styles</h1>
  <h3 class="lead">Formal, Casual, Fun, Fine, Nice.... It's All About Style!!</h3>
  <hr class="my-4">
  <h5>We have a variety of option for your particular Style.</h5>
  <p class="lead">
    <a class="btn btn-primary btn-lg rounded-pill" href="#" role="button">Shop Styles</a>
  </p>
</div>
{% endblock %}


