
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-image">
        <div class="container">
            <h1>We've Got Your Kool Styles</h1>
            <p>Browse our Store and find your next trendy Style!</p>
            <p><a class="btn btn-black rounded-pill btn-lg" href="{% url 'products' %}" role="button">Shop Styles</a></p>
        </div>
    </div>
{% endblock %}

