/* My Slider View on Home Page */
.MySliderView #wrapper {
  width: 400%;
  transform: translate3d(0, 0, 0);
  transition: transform .5s ease-in-out;
}
.MySliderView .content {
  float: left;
  width: 100vw;
  height: 100vh;
  white-space: normal;
  background-repeat: no-repeat;
  background-size:cover;
  font-family:sans-serif;
  display:flex;
}

.MySliderView body{
  margin:0;
}

.MySliderView .left{
  height:inherit;
  background-size:cover;
  float:left;
}
.MySliderView .right{
  height:inherit;
  background:#222;
  padding:15px;
  color:white;
}

.MySliderView #contentContainer {
  width: 100%;
  height: 100vh;
  border:none;
  overflow: hidden;
  text-align:left;
  margin:0 auto;
}

.MySliderView #navSliderLinks {
  text-align: center;
  width: 100%;
  margin:0 auto;
  transform:translateY(-60px);
}
.MySliderView #navSliderLinks ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 6px;
}
.MySliderView #navSliderLinks ul li {
  float: left;
  text-align: center;
  margin: 10px 5px;
  list-style: none;
  cursor: pointer;
  background-color: #CCCCCC;
  padding: 10px;
  font-family:sans-serif;
}
.MySliderView #navSliderLinks ul li:hover {
    background-color: cornflowerblue;
  color:white;
}
.MySliderView #navSliderLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}
.MySliderView #navSliderLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.no-side-padding{
  padding-right:0;
  padding-left:0;
}

.MySliderView .slider-header a{
  font-size:2rem;
  color:white;
}

.MySliderView p{
  font-size:1.5rem;
  text-transform:lowercase;
  font-variant:small-caps;
  text-align:justify;
  padding-right:15px;
}

.MySliderView1 {
  background-image:url('https://kool-styles.s3.us-east-2.amazonaws.com/media/visa-3082813_1920.jpg');
}

.MySliderView2 {
  background-image:url('https://kool-styles.s3.us-east-2.amazonaws.com/media/tshirts.jpg');
}

.MySliderView3 {
  background-image:url('https://kool-styles.s3.us-east-2.amazonaws.com/media/tie_background.jpg');
}

.MySliderView4 {
  background-image:url('https://kool-styles.s3.us-east-2.amazonaws.com/media/jackets.jpg');
}
